@CHARSET "UTF-8";
/* reset */
    #wrap {margin:0px;padding:0;width:1000px;}
    dl,ul,ol,menu,li {list-style:none}
    input,select,textarea,button {vertical-align:middle}
    .tit {color:#000;text-decoration:none;}
    #tab1{font-size: 80%;font-weight: normal;}
    #wrap #tab1, .tab_cont {display:inline-block;border:1px solid white;}
    #wrap #tab1{float:left;}
    #wrap #tab1 #li1,#wrap #tab1 #li2,#wrap #tab1 #li3
    ,#wrap #tab1 #li4,#wrap #tab1 #li5,#wrap #tab1 #li6{width:140px;height:30px;}
    #tab1 .tit{border-bottom:1px solid #e3e3e3;}
    #tit1{padding:5px;padding-right:70px;}
    #tit2{padding:5px;padding-right:70px;}
    #tit3{padding:5px;padding-right:70px;}
    #tit4{padding:5px;padding-right:70px;}
    #tab1 .tit:hover{text-decoration: underline;}
    #tab1 .on .tit{font-weight: bold;color:white;background: rgb(122,188,255); /* Old browsers */
        background: -moz-radial-gradient(top, ellipse cover,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(49,143,237,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,rgba(49,43,237,1))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(49,143,227,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(top, ellipse cover,  rgb(77, 160, 236) 0%,rgb(55, 144, 234) 44%,rgb(28, 127, 217) 100%); /* Opera 12+ */
        background: -ms-radial-gradient(top, ellipse cover,  rgb(77, 160, 236) 0%,rgb(55, 144, 234) 44%,rgb(28, 127, 217) 100%); /* IE10+ */
        background: radial-gradient(ellipse at top,  rgb(77, 160, 236) 10%,rgb(55, 144, 234) 44%,rgb(28, 127, 217) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#318fed',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
    .comm_tab2 {margin-top:20px;width:850px;}
    #line1{border-bottom: 1px solid;width:850px;color:#e3e3e3;position:relative;top:1px;}
    .comm_tab2>.tab_menu2 {float:left;position:relative;top:-31px;left:-35px;}
    .comm_tab2>.tab_menu2>li {float:left;text-align:center;font-size:.79em;white-space:normal;margin-right:1px;}
    .comm_tab2>.tab_menu2 .tit {border:1px solid #CFDAE3; padding-bottom:5px;font-weight:bold;background-color:#f3f3f3;cursor:pointer;padding-left:25px;padding-right:25px;color:#888888;}
    .comm_tab2>.tab_menu2 .on .tit {height:20px;background-color:#fff;border-bottom:2px solid #fff;color:#000;}
    .ld1{height:10px;position:relative;top:8px;border-bottom:1px solid #CFDAE3 ;width:850px;margin-left:5px;}
    #cont1{height:30px;border:1px solid #CFDAE3;position:relative;top:-33px;left:4px;font-size: 80%;padding:10px;font-weight: bold;background:#FAFAFA;width:830px;}
    
    
    #cont_bar{width:850px;height:20px;position:relative;top:-25px;right:-6px;clear: both;}
    #list{width:850px;float:right;position:relative;top:-29px;right:2px;}
    #list_gongji{width:850px;float:right;height:33px;border-bottom:1px solid #EAEAEA;}
    #list_gongji:hover{background:#E9F2FF;}
    #g_rno,#g_title,#g_id,#g_date,#g_like,#g_cnt{display:inline-block;font-size: 80%;position:relative;width:50px;text-align: center;padding:0;margin:0;vertical-align: middle;}
    
    .list_a{text-decoration: none;color:black;}
    .list_a:hover{text-decoration: underline;color:red;}
    .list_a:visited{color:purple;}
    #list_aid:hover{color:black;text-decoration: none;}
    #list_aid:visited{color:black;}
    
    #gongji_rno{font-weight: bold;color:#4F87C7;}
    #g_title{width:520px;clear: both;text-align: left;font-weight: bold;padding-left: 5px;}
    #gongji_reply{font-weight: normal;letter-spacing: 1px;}
    #g_id{width:115px;margin-right:-2px;}
    #g_date{margin-left:-1px;margin-right:7px;}
    #g_date,#g_like,#g_cnt{font-size: 30%;width:40px;}
    
    
    #list_gesi{width:850px;float:right;height:33px;border-bottom:1px solid #EAEAEA;}
    #list_gesi:hover{background:#E9F2FF;}
    #list_rno,#list_title,#list_id,#list_date,#list_like,#list_cnt{display:inline-block;font-size: 80%;position:relative;width:50px;text-align: center;padding:0;margin:0;vertical-align: middle;}
    
    #gesi_rno{font-weight: normal;color:#000;font-size: 60%;}
    #list_title{width:520px;clear: both;text-align: left;font-weight:normal;padding-left: 5px;}
    #gesi_title{}
    #gesi_reply{font-weight: normal;letter-spacing: 1px;}
    #list_id{width:115px;margin-right:-2px;}
    #list_date{margin-left:-1px;margin-right:7px;}
    #list_date,#list_like,#list_cnt{font-size: 30%;width:40px;}
    
    #page_img,#btn_left,#btn_right{display:inline-block;}
    #page_img{width:500px;position:relative;top:-5px;}
    #btn_left{width:168px;}
    #btn_right{width:168px;}
    #next_btn,#prev_btn,#write_btn,#refresh_btn{margin-top:5px;text-align: center; width: 75px;height:24px; background:#FdFdFd;border:1px solid #B2B2B2;border-radius: 2px; box-shadow: 0px 1px 0px #cccccc;}
    #next_btn,#prev_btn{margin-right:3px;float:left;}
    #write_btn,#refresh_btn{float:right;margin-left:3px;}
    #prev_page,#next_page,#write_page,#refresh_page{text-decoration: none;color:black;font-size: 75%;}
    #next_page,#prev_page,#write_page,#refresh_page{width:70px;height:25px;}
    #next_btn1,#next_btn2,#prev_btn1,#prev_btn2,#pg_num{width:20px;display:inline;}
    #pg_num{margin-left:10%;margin-right:10%;font-size:80%;}
    #pg_num a{text-decoration: none;}
    #pg_num a:visited{color:black;}
    #pg_num a:hover{color:rgb(122,188,255);text-decoration: underline;}
    #prev_btn1,#prev_btn2{float:left;margin:2px;}
    #next_btn1,#next_btn2{float:right;margin:2px;}
    
    
    #info_bot2{margin-top:10px;float:right;position:relative;right:-10px;}
    .info_bot2_text{font-size: 75%;}
    #info_bot2_radio, #info_search_btn{display:inline-block;}
    #info_bot2_radio input{margin:5px;}
    #info_bot2_radio #info_bot2_search_box{height:16px;width:140px;}
    #info_search_btn{font-size: 70%;color:white;background:#A6A6A6;position:relative;left:-12px;top:-1px;
    padding-left:5px;height:20px;width:30px;padding-top:2px;}
    #info_search_btn a{text-decoration: none;color:white;}
    #info_bot2_announce font{font-size: 70%;float:right;margin-right:10px;}
    
    /*****************개인정보********************/

    #pri_main {
	/* 	border: 1px solid #B3B3B3; */
	width: 850px;
	margin: auto;
}

#pri_title {
	border-bottom: 1px solid #E5E5E5;
	height: 20px;
	padding-bottom: 10px;
}

#pri_guide {
	padding: 10px;
	margin-top: 30px;
	border: 1px solid #E5E5E5;
	width: 828px;
	height: 40px;
}

#pri_guideimg {
	margin-left: 100px; 
	height : 40px;
	width: 45px;
	float: left;
	height: 40px;
}

#pri_guide_text {
	margin-left: 20px;
	padding-top: 5px;
	float: left;
	width: 500px;
	font-size: 13px;
}

#pri_cetification {
	margin: auto;
	margin-top: 50px;
	width: 400px;
	height: 200px;
}

#pri_info1 {
	float: left;
}

#pri_info2 {
	margin-left: 40px;
	text-align: center;
	float: left;
	margin-top:20px;
	font-size: 13px;
	padding: 5px;
}

#pri_input {
	margin-top: 20px;
	margin-left: 40px;
	float: left;
	width: 250px;
	
}

#pri_id {
	margin-top: 5px; float : left;
	width: 50px;
	float: left;
}

#pri_id_input {
	float: left;
	margin-left:20px;
}

#pri_pwd {
	margin-top: 10px;
	float: left;
	width: 50px;
}

#pri_pwd_input {
	margin-top: 5px;
	float: left;
	margin-left:20px;
}

#pri_btn_longin {
	margin-top: 20px;
	float: left;
	
}

#pri_line{
	margin-left:12px;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	height:210px;
	width:390px;
}

/*****************회원탈퇴***********************/

#tal_main {
	/* 	border: 1px solid #B3B3B3; */
	width: 856px;
	margin: auto;
}

#tal_title {
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	height: 30px;
	padding-bottom: 10px;
}

#tal_guide {
	padding: 10px;
	margin-top: 30px;
	border: 1px solid #E5E5E5;
	width: 834px;
	height: 40px;
}

#tal_guideimg {
	margin-left: 100px; 
	height : 40px;
	width: 45px;
	float: left;
	height: 40px;
}

#tal_guide_text {
	margin-left: 20px;
	padding-top: 5px;
	float: left;
	width: 500px;
	font-size: 13px;
}

#tal_cetification {
	margin: auto;
	margin-top: 50px;
	width: 400px;
	height: 200px;
}

#tal_info1 {
	float: left;
}

#tal_info2 {
	margin-left: 40px;
	text-align: center;
	float: left;
	margin-top:20px;
	font-size: 13px;
	padding: 5px;
}

#tal_input {
	margin-top: 20px;
	margin-left: 40px;
	float: left;
	width: 250px;
	
}

#tal_id {
	margin-top: 5px; float : left;
	width: 50px;
	float: left;
}

#tal_id_input {
	float: left;
	margin-left:20px;
}

#tal_pwd {
	margin-top: 10px;
	float: left;
	width: 50px;
}

#tal_pwd_input {
	margin-top: 5px;
	float: left;
	margin-left:20px;
}

#tal_btn_longin {
	margin-top: 20px;
	float: left;
	 
}

#tal_line{
	margin-left:12px;
	border-left: 1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	height:250px;
	width:390px;
}


/****************************개인정보 수정********************************/
#mod_main {
	/* 	border: 1px solid #B3B3B3; */
	width: 800px;
	margin: auto;
}

#mod_title {
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	height: 30px;
	padding-bottom: 10px;
}

#mod_guide {
	padding: 10px;
	margin-top: 30px;
	border: 1px solid #E5E5E5;
	width: 778px;
	height: 40px;
}

#mod_guideimg {
	margin-left: 100px;
	height: 40px;
	width: 45px;
	float: left;
	height: 40px;
}

#mod_guide_text {
	margin-left: 20px;
	padding-top: 5px;
	float: left;
	width: 500px;
	font-size: 13px;
}

#mod_info {
	border-bottom: 1px solid #E5E5E5;
	width: 25px;
	height: 20px;
	margin-top: 20px;
	float: left;
	padding-bottom: 3px;
}

#mod_info2 {
	border-bottom: 1px solid #E5E5E5;
	width: 775px;
	height: 20px;
	float: left;
	margin-top: 20px;
	font-size: 13px;
	padding-bottom: 3px;
}

#mod_id {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_myid {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
	font-size: 13px;
}

#mod_level {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mylevel {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
	font-size: 13px;
}

#mod_point {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mypoint {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
	font-size: 13px;
}

#mod_pw {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mypw {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_pw2 {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mypw2 {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_nick {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mynick {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 180px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_mynick_btn {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 520px;
	height: 25px;
	padding-top: 8px;
	background-color: #FBFBFB;
}

#mod_birthdate {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mybirthdate {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
	font-size: 13px;
}

#mod_email {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_myemail {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_homepage {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_myhomepage {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_nateon {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mynateon {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_msn {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mymsn {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_soge {
	border-bottom: 2px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 90px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mysoge {
	border-bottom: 2px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 90px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_add_info {
	border-bottom: 1px solid #E5E5E5;
	width: 25px;
	height: 20px;
	margin-top: 5px;
	float: left;
	padding-bottom: 3px;
}

#mod_add_info2 {
	border-bottom: 1px solid #E5E5E5;
	width: 775px;
	height: 20px;
	float: left;
	margin-top: 5px;
	font-size: 13px;
	padding-bottom: 3px;
}

#mod_phone {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_myphone {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_address {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_myaddress {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_tel {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mytel {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_workplace {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_myworkplace {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_workplace_address {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_myworkplace_address {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_workplace_tel {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_myworkplace_tel {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_bankname {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_bank {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 110px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_account_number {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	padding-top: 8px;
	width: 590px;
	height: 25px;
}

#mod_job {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_myjob {
	border-bottom: 1px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
}

#mod_susin {
	border-bottom: 2px solid #E5E5E5;
	float: left;
	width: 95px;
	height: 25px;
	background-color: #F2F2F2;
	padding-top: 8px;
}

#mod_mysusin {
	border-bottom: 2px solid #E5E5E5;
	float: left;
	width: 700px;
	height: 25px;
	padding-top: 8px;
	padding-left: 5px;
	background-color: #FBFBFB;
	font-size: 13px;
}

#mod_end_info {
	border-bottom: 2px solid #E5E5E5;
	float: left;
	font-size: 12px;
	width: 800px;
	margin-top: 5px;
	height: 60px;
}

#mod_btn {
	float: right;
	margin-top: 5px;
}

#mod_btn_mod {
	float: left;
	margin: 5px;
}

#mod_btn_cancel {
	float: left;
	margin-top: 5px;
}