@CHARSET "UTF-8";

.main {
	width: 1000px;
	margin: auto;
}

#header {
	height: 60px;
	padding: 3px;
	padding-top: 20px;
}

#middle {
/* 	min-height: 1000px; */
}

#menu {
	height: 33px;
	background: #6cade2; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjYWRlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMjZlYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #6cade2 0%, #326ebc 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6cade2),
		color-stop(100%, #326ebc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6cade2 0%, #326ebc 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6cade2 0%, #326ebc 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6cade2 0%, #326ebc 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #6cade2 0%, #326ebc 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cade2',
		endColorstr='#326ebc', GradientType=0); /* IE6-8 */
}

#subspan {
	display: inline-block;
	padding-top: 5px;
}

#community, #information, #gallery, #market, #mall {
	width: 200px;
	height: 33px;
	float: left;
	display: table-cell;
	vertical-align: middle;
	/*         padding-top: 5px; */
	font-size: 15px;
	text-align: center;
	color: white;
	font-weight: bold;
}

#blankGalleryMain {
	height: 30px;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 8px;
}

#contents {
}

#galleryMain {
	background: #dddddd;
	height: 255px;
	margin-bottom: 5px;
}

#contentsLeft {
	width: 740px;
	float: left;
	margin-right: 9px;
}

#contentsInfo {
	background: #dddddd;
	height: 242px;
	margin-bottom: 12px;
}

#contentsLeftAd1 {
	background: #dddddd;
	height: 90px;
	margin-bottom: 12px;
}

#contentsLeftMarket {
	background: #dddddd;
	height: 325px;
	margin-bottom: 12px;
}

#contentsLeftCommunity {
	background: #dddddd;
	height: 325px;
}

#contentsRight {
	width: 248px;
	float: left;
}

#contentsRightAd1 {
	height: 242px;
	background: #dddddd;
	margin-bottom: 12px;
}

#contentsRightLogin {
	height: 90px;
	margin-bottom: 12px;
	background: #dddddd;
}

#contentsRightAnnouce {
	height: 180px;
	margin-bottom: 12px;
	background: #dddddd;
}

#contentsRightAd2 {
	height: 250px;
	margin-bottom: 12px;
	background: #dddddd;
}

#contentsRightCommunityAdult {
	height: 208px;
	margin-bottom: 12px;
	background: #dddddd;
}

#footer {
	min-height: 40px;
}

#slrlogin, #slrlogo {
	display: inline-block;
}

#slrlogin {
	float: right;
}

#bbzx, #log_in4 {
	display: inline-block;
}

#bbzx {
	position: relative;
}
#log_in532,#log_in632,#log_in432{
	display: inline-block;
	position: relative;
	left:750px;
	font-size: small;
}
#log_in532,#log_in632{
		border-right:2px solid #aabbcc;
	margin-right: 7px;
	padding-right: 8px;
	
}

