@CHARSET "UTF-8";
    .main
    {
        width: 1000px;
        margin: auto;
    }
    #info_main_side{
    background: #ffffff;
    width:135px;
    float:left;
    margin-bottom: 25px;
    margin-right:10px;
    }
    #info_main_side,#tabManue{
    display:inline-block;
    margin-top:10px;
    }
    #tabManue{ 
    width:850px;
    margin-bottom:10px;
    }
    #contentsRight{
    float:right;
    width:850px;
    }