@CHARSET "UTF-8";
    *{margin:0;padding: 0;}
    #info_body_wrap{
        width:850px;
    }
    #info_body_top{
        border:1px solid #EAEAEA;
        background: #F3F3F3;
        width:850px;
        height:15px;
    }
    #body_title1, #body_title2, #body_title3,
    #body_title4, #body_title5, #body_title6,
    .info_body_bar
    {
        display: inline-block;
    }
    #body_title1, #body_title2, #body_title3,
    #body_title4, #body_title5, #body_title6
    {
       padding-left:12px;
        padding-right:12px;
    }
    #body_title1{
        width:16px;
    }
    #body_title2{
        width:500px;

    }
    #body_title3{
        width:85px;
    }
    #body_title4{
        width:40px;
    }
    #body_title5{
        width:20px;
    }
    #body_title6{
        width:20px;
    }
    .info_body_bar{
        height:6px;
        border:1px solid #E5E5E5;
        padding-bottom:3px;
        position:relative;
        top:-5px;
    }
    #info_body_bar3{
        margin-left:1px;
        margin-right:-25px;
    }
    #info_body_bar4{
        margin-left:-1px;
        margin-right:-10px;
    }
    #info_body_bar5{
        margin-left:-1px;
    }
    .info_body
    {
        position: relative;
        top:-18px;
        left: 12px;
        font-size:70%;
        font-weight: bold;
        color:#737373;
    }
    #info_body_text1,#info_body_text2{
    padding-right:272px;
    }
    #info_body_text3{
    padding-left:20px;
    }
    #info_body_text4{
    padding-left:50px;
    }
    #info_body_text5{
    padding-left:16px;
    }
    #info_body_text6{
    padding-left:20px;
    }
    #info_mid_all{

        height:10px;
        position: relative;
        top:-21px;
    }
    #info_announce{
        height:33px;
        border-bottom:1.5px solid #EAEAEA;
    }
    #info_announce:hover{
    background:#E9F2FF;
    }
    .info_announce{
        position:relative;
        top:3px;
        left:10px;
        font-size:40%;
    }
    /*-----------------------MID-----------------*/
        
    .info_mid_board{
        display:inline-block;
        height:33px;
       
    }
        #info_mid_board{
         border-bottom:1.5px solid #EAEAEA;
        }
    #info_mid_board:hover{
        background:#E9F2FF;
        
    }
    #info_srl_board_rno{
        margin-left:5px;
        width:40px;
    }
    #info_srl_board_title{
        width:565px;
    }
    #info_srl_board_id{
        width:75px;
    }
    #info_srl_board_date{
        width:60px;
    }
    #info_srl_board_like{
        width:30px;
    }
    #info_srl_board_cnt{
        width:auto;
    }
    #info_mid_text1{
        font-weight: bold;
        font-size: 75%;
        color:#4F87C7;
    }
    #info_announce_text2{
        font-weight: bold;
        font-size: 75%;
        color:#000000;        
    }
    #info_mid_text2{
        font-weight:none;
        font-size: 75%;
        color:#000000;        
    }
    #info_mid_title, #info_mid_a_id{
        text-decoration: none;
        color:black;
    }
   
    #info_mid_id{
    font-size: 70%;
    }
    #info_mid_title:hover{
        text-decoration: underline;
        color:red;
    }
    #info_mid_text3{
        font-weight: bold;
        font-size: 75%;
        color:#000000;
    }
    /*----------------------BOT----------------------*/
    #info_bot{
        margin-top:5px;
    }
    .info_bot1{
        display: inline-block;
    }
    .info_bot_btn{
        height:25px;
        width:72px;
        font-size: 72%;
        background:#f7f7f7;
        border:1px solid #B2B2B2;
        border-radius: 3px;
        margin:1px;
    }
     #pg_btn1{
        background: url(img/pg_btn2.jpg) no-repeat;
        background-size: contain;
        border:1px;
    }
    #pg_btn2{
        background: url(img/pg_btn1.jpg) no-repeat;
        background-size: contain;
        border:1px;
    }
    #pg_btn3{
        background: url(img/pg_btn4.jpg) no-repeat;
        background-size: contain;
        border:1px;
    }
    #pg_btn4{
        background: url(img/pg_btn3.jpg) no-repeat;
        background-size: contain;
        border:1px;
    }
    #info_bot_btn1, #info_bot_btn2{
    float: left;
    }
    #pg_btn1{
        margin-left:70px;
    }
    #pg_btn1,#pg_btn2,#pg_btn3,#pg_btn4{
        width:20px;
        height:20px;
        border-radius: 0;
        font-weight: bold;
    }
    #info_bot_btn3, #info_bot_btn4{
    float: right;
    }
    .pg_divide{
        position:relative;
        top:-5px;
        font-size: 80%;
    }
    .pg_num{
        text-decoration: none;
    }
    .pg_num:hover{
        text-decoration: underline;
        color:#a9c2FF;
    }
     #info_bot2{margin-top:10px;float:right;position:relative;right:-160px;}
    .info_bot2_text{font-size: 75%;}
        #info_bot2_radio, #info_search_btn{display:inline-block;}
        #info_bot2_radio input{margin:5px;}
        #info_bot2_radio #info_bot2_search_box{height:16px;width:140px;}
        #info_search_btn{font-size: 70%;color:white;background:#A6A6A6;position:relative;left:-12px;top:-2px;
        padding-left:5px;height:20px;width:30px;}
        #info_search_btn a{text-decoration: none;color:white;}
        #info_bot2_announce font{font-size: 70%;float:right;margin-right:10px;}
